<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>

    <form method="POST">
        <label>Email:</label><br>
        <input type="text" name="email"><br><br>

        <label>Token:</label><br>
        <input type="text" name="token"><br><br>

        <label>New password:</label><br>
        <input type="text" name="password"><br><br>

        <button type="submit">Reset password</button>
    </form>

    <br>
    <a href="/">Back home</a>
</body>
</html>
